{% extends 'layout.html' %}

{% block title %}
  {{title}}
{% endblock %}

{% block content %}
<div class="container mt-3">
  <h1>{{title}}</h1>
  <hr>

  <div class="card mt-3 mb-3">
    <div class="card-header">
      <h2>Login Form</h2>
    </div>

    <div class="card-body">
      <form method="POST">
        {{ form.hidden_tag() }}

        <div class="mb-3">
          {{ form.username.label(class="form-label") }}
          {{ form.username(class="form-control") }}
        </div>

        <div class="mb-3">
          {{ form.password.label(class="form-label") }}
          {{ form.password(class="form-control") }}
        </div>

        <div class="mb-3">
          {{ form.remember() }} {{ form.remember.label }}
        </div>

        {{ form.submit(class="btn btn-outline-secondary") }}
      </form>
    </div>
  </div>
</div>
{% endblock %}